<div class="card">
    <h3 class="">{{goalName}}</h3>
    <h6>My target: {{goalNumber}}</h6>
    <h6>Target date: {{doBy}}</h6>
    <h6 id="daysLeft">Days left for goal: </h6>
    <div id="chart-{{id}}" class="card-content">
    </div>
    <div class="buttonsDiv">
        <a class="add-milestone-button btn waves-light green" data-goalId="{{id}}">Add a Milestone</a>
        <button type="submit" class=" btn waves-effect waves-light red deleteGoalBtn" data-goalId="{{id}}">Delete
            Goal</button>
    </div>
</div>